{% extends 'org_base.html' %}
{% load staticfiles %}
{% block title %}
    机构首页
{% endblock %}
{% block custom_middle %}
    <div class="middle companyheader">
        <div class="wp">
            <img class="fl" style="width: 112px;height: 103px" src="{{ MEDIA_URL }}{{ org.image }}"/>
            <div class="head fl">
                <h1>
                    {{ org.name }}
                    <img src="{% static 'images/authentication.png' %}"/>
                    <img src="{% static 'images/gold.png' %}"/>
                </h1>
                <p class="fl">
                    <span class="fl" style="margin-top:8px;color:#848484;">推荐指数： </span>
                    <span class="precision company-credit" data-star-scope="5.0"></span>
                    <span class="key">5.0</span>
                </p>
            </div>
            <div class="btn fr collectionbtn  notlogin
                 " data-favid="22" data-fav-type="1">
                 {% if has_fav  %}已收藏{% else %}收藏{% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_right %}
    <div class="right companycenter layout grouping" >
        <div class="head">
            <h1>全部课程</h1>
            <a class="green fr more" href="org-detail-course.html">查看更多  >  </a>
        </div>
        <div class="brief group_list">
                {% for course in all_courses %}
                <div class="module1_5 box">
                    <a href="{% url 'org:course-detail' org.id %}"><img width="214" src="{{ MEDIA_URL }}{{ course.image }}"/></a>
                    <div class="des">
                        <a href="{% url 'org:course-detail' org.id %}"><h2>{{ course.name }}</h2></a>
                        <span class="fl">课时：<i class="key">0</i></span>
                        <span class="fr">参加人数：{{ course.studtent }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ course.courseOrg }}</span>
                         <span class="star fr  notlogin
                            " data-favid="13"  data-fav-type="4">
                            0
                        </span>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
    <div class="right companycenter layout" >
        <div class="head">
            <h1>机构教师</h1>
            <a class="green fr more" href="{% url 'org:teachers-detail' org.id %}">查看更多  >  </a>
        </div>
        {% for teacher in all_teachers %}
        <div class="diarys">
            <div class="module5 share company-diary-box" style="padding:10px 0;">
                <div class="left">
                    <img class="pic" src="{{ MEDIA_URL }}{{ teacher.image }}"/>
                    <p>昵称：{{ teacher.name }}</p>
                </div>
                <div class="right">
                    <div class="top">
                        <div class="fl">
                            <a href=""><h1>java开发教程</h1></a>
                            <span>发表于：2015-10-12</span>
                        </div>
                    </div>
                    <div class="middle" style="border-bottom:0;">课程介绍</div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
    <div class="right companycenter layout" >
        <div class="head">
            <h1>机构介绍</h1>
            <a class="green fr more" href="org-detail-desc.html">查看更多  >  </a>
        </div>
        <div class="cont">&nbsp; &nbsp; <p>&nbsp; &nbsp;</p><p style="text-align:center;"><strong class="ue_t">{{ org.desc }}</strong></p></div>
    </div>
{% endblock %}